[project]
	description = Material design theme for Bootstrap 3
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jack Braj (jackbraj)
[access "refs/for/refs/*"]
	read = group user/Jack Braj (jackbraj)
	push = group user/Jack Braj (jackbraj)
	label-Code-Review = -2..+2 group user/Jack Braj (jackbraj)
	label-Verified = -1..+1 group user/Jack Braj (jackbraj)
	rebase = group user/Jack Braj (jackbraj)
	removeReviewer = group user/Jack Braj (jackbraj)
	submit = group user/Jack Braj (jackbraj)
[access "refs/heads/*"]
	read = group user/Jack Braj (jackbraj)
	create = group user/Jack Braj (jackbraj)
	push = +force group user/Jack Braj (jackbraj)
	pushMerge = group user/Jack Braj (jackbraj)
[access "refs/tags/*"]
	push = +force group user/Jack Braj (jackbraj)
	pushTag = group user/Jack Braj (jackbraj)
	pushSignedTag = group user/Jack Braj (jackbraj)
